*{
  font-family: Simonetta;
}
.broadwayBoxStyle{
  padding:10px;
  cursor: pointer;

}
.showName{
  font-size:18px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;

}

.showLocation{
  font-size: 15px;
}

.lng,.lat{
  display: none;
}
